.everything-button {
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(102, 202, 236);
    color: rgb(46, 46, 46);
    cursor: pointer;
}